## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
mi_variable1 = 12
print(mi_variable1)

12

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
mi_variable2 = 8.5
print(type(mi_variable2))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(mi_variable1))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [9]:
mi_variable3 = "Tara Iraima"
print(mi_variable3)

Tara Iraima

5) Crear una variable que contenga un número complejo

In [12]:
mi_variable4 = 4 + 4j
print(mi_variable4)

(4+4j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [13]:
print(type(mi_variable4))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [14]:
mi_variable5 = 3.1416
print(mi_variable5)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [15]:
mi_variable6 = True
print(mi_variable6)

True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [16]:
print(type(mi_variable6))

<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
mi_variable7 = 7 
mi_variable8 = 4.5
print(mi_variable7 + mi_variable8)

11.5

11) Realizar una operación de suma de números complejos

In [19]:
mi_variable9 = 8j
mi_variable10 = 10j
print(mi_variable9 + mi_variable10)

18j

12) Realizar una operación de suma de un número real y otro complejo

In [20]:
mi_variable11 = -5
mi_variable12 = 8j
print(mi_variable11 + mi_variable12)

(-5+8j)

13) Realizar una operación de multiplicación

In [21]:
mi_variable13 = 5 
mi_variable14 = 5
print(mi_variable13 * mi_variable14)

25

14) Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
mi_variable15 = 2
print(mi_variable15 * 8)

16

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [24]:
mi_variable16 = 27
mi_variable17 = 4
print(mi_variable16 / mi_variable17)

6.75

16) De la división anterior solamente mostrar la parte entera

In [33]:
resultado = print(mi_variable16 // mi_variable17)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [27]:
resultado2 = print(mi_variable16 % mi_variable17)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [36]:
print((4 * 6) + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [40]:
var1 = "Hello1 "
var2 = "moto2"
print(var1 + var2)

Hello1 moto2

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [41]:
var3 = "2"
var4 = 2
print(type(var3))
print(type(var4))

<class 'str'>
<class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [43]:
x = int(var3)
print(x)

2

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [49]:
a = float("3.8")
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [51]:
var6 = 3
var6 = 2
print (var6)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [52]:
print(1 << 2)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [53]:
print(2 + "2")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
var7 = 2
var8 = "2"
print(var7 + int(var8))

4

26) Realizar una operación válida entre valores de tipo entero y string

In [59]:
print(10 * "ja ")

ja ja ja ja ja ja ja ja ja ja